.ratingblock {
    position: relative;
}

.ratingblock.haspopover:hover {
    z-index: 11;
}

.ratingblock-total,
.single-game-container .ratingblock .ratingblock-total {
    float: left;
    font-size: 12px;
    color: #afbfcf;
    font-weight: normal;
    margin: 2px 10px 0 15px;
}

.ratingblock-content {
    display: block;
    position: relative;
    z-index: 2;    
}

.ratingblock-popover {
    display: block;
    position: absolute;
    z-index: 1;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.23);
    bottom: 2px;
    left: 0;
    width: 100%;
    min-width: 170px;
    height: 129px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, 0.2s visibility;
    -webkit-transition: opacity 0.2s, 0.2s visibility;
}

.ratingblock.down .ratingblock-popover {
    bottom: auto;
    top: -8px;
    height: 135px;
}

.ratingblock-popover-in {
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 1px solid #dae1e8;
}

.ratingblock.down .ratingblock-popover-in {
    border-bottom: none;
    border-top: 1px solid #dae1e8;
    margin-top: 38px;
}

/* .ratingblock.haspopover:hover .ratingblock-popover, */
.ratingblock.hover .ratingblock-popover {
    opacity: 1;
  visibility: visible;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.ratingblock-line {
    display: block;
    line-height: 12px;
    height: 12px;
    margin: 2px 0 0 0;
    position: relative;
}

.ratingblock-line-title {
    font-size: 12px;
    color: #afbfcf;
    width: 28px;
    text-align: center;
}

.ratingblock-line-value {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #a1a1a1;
    width: 22px;
    float: right;
}

.ratingblock-line-bar {
    display: block;
    position: absolute;
    left: 28px;
    right: 28px;
    top: 0;
    height: 12px;
    background: #d3eafb;
}

.ratingblock-line-bar > span {
    display: block;
    float: left;
    font: normal normal normal 9px/12px 'Glyphicons Halflings' !important;
    color: #fff !important;
    margin: 0 2px 0 5px !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.ratingblock-line-bar > span:after {
    content: '\e006';
}

.ratingblock-line-bar-fill {
    display: block;
    content: '';
    background: rgba(34, 150, 237, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 0;
    max-width: 0;
    transition: 0.5s max-width 0.2s;
    -webkit-transition: 0.5s max-width 0.2s;
}

/* .ratingblock:hover .ratingblock-line-bar-fill { */
.ratingblock.hover .ratingblock-line-bar-fill {
    max-width: 100%;
}

.ratingblock .rating-block {
    display: none;
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget a {
    font-size: 13px;
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget a:after {
    color: #afbfcf;
    /* content: '\f005'; */
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget .br-selected:after {
    color: #2296ed;
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget .br-active:after {
    color: #f59d1a;
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget .br-fractional:after {
    color: #2296ed;
    /* content: '\f005'; */
}

.ratingblock .stars-example-fontawesome-o {
    float: left;
    margin: 1px 0 0 2px;
}

.ratingblock .ratingblock-value,
.games-grid .ratingblock .ratingblock-value {
    float: left;
    color: #2296ed;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: top;
    font-family: "OpenSans Regular";
    margin-left: 15px;
}


.ratingblock .br-theme-fontawesome-stars-o .br-widget span,
.games-grid .ratingblock .br-theme-fontawesome-stars-o .br-widget span {
    font: normal normal normal 13px/13px FontAwesome;
    margin: 0 2px 0 0 !important;
    padding: 0 !important;
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget span:after,
.games-grid .ratingblock .br-theme-fontawesome-stars-o .br-widget span:after {
    content: '\f006';
    color: #d2d2d2;    
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget span.br-selected:after,
.games-grid .ratingblock .br-theme-fontawesome-stars-o .br-widget span.br-selected:after {
    content: '\f005';
    color: #2296ed;
}

.ratingblock .br-theme-fontawesome-stars-o .br-widget span.br-fractional:after,
.games-grid .ratingblock .br-theme-fontawesome-stars-o .br-widget span.br-fractional:after {
    content: '\f123';    
    color: #2296ed;
}