@import "chat-box.css";
@import "header.css";
@import "index-registration-block.css";
@import "payment-modal.css";
@import "messenger.css";
@import "modal-app-info.css";
@import "rating-block.css";

@font-face{
    font-family: "OpenSans Regular";
    src: url("../fonts/OpenSansRegular.ttf") format("truetype");
}
@font-face{
    font-family: "OpenSans Bold";
    src: url("../fonts/OpenSansBold.ttf") format("truetype");
}
@font-face{
    font-family: "OpenSans Semibold";
    src: url("../fonts/OpenSansSemiBold.ttf") format("truetype");
}
@font-face{
    font-family: "OpenSans Light";
    src: url("../fonts/OpenSansLight.ttf") format("truetype");
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

}
header .navbar-default{
    background-color: #335287;
    border:0;
    margin-bottom: 0;
    border-radius: 0;
    outline: 0;
    border-top: 0;
    height: 70px;
}
header .navbar-brand{
    padding-left: 0;
    padding-top: 0;
}
header .navbar-brand img{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}
header .logo-text{
    font-size: 36px;
    color: #fff;
    font-family: "OpenSans Bold";
}
header .navbar-form{
    margin-left: 85px;
    position: relative;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
header .navbar-form input{
    height: 30px;
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #8694a7;
    background-color: transparent;
    width: 157px !important;
    padding-left: 0;
    color: #bcc6d4;
    box-shadow: 0 0 0 ;
    padding-right: 20px;
}
header .navbar-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bcc6d4;
}
header .navbar-form input::-moz-placeholder { /* Firefox 19+ */
    color: #bcc6d4;
}
header .navbar-form input:-ms-input-placeholder { /* IE 10+ */
    color: #bcc6d4;
}
header .navbar-form input:-moz-placeholder { /* Firefox 18- */
    color: #bcc6d4;
}
header .navbar-form input:focus{
    box-shadow: 0 0 0 ;
}
header .navbar-form img{
    position: absolute;
    top: 7px;
    right: 0px;
}
header .navbar-right,
header .navbar-nav{
    height: 70px;
}
header .navbar-right > li,
header .navbar-right > li > a,
header .navbar-nav > li,
header .navbar-nav > li > a{
    height: 100%;
}
header .navbar-right > li > a,
header .navbar-nav > li > a{
    line-height: 3;
}
header .navbar-right > li > a{
    padding-left: 12px;
    padding-right: 12px;
}
header .navbar-default .nav-center-link{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
header .navbar-default .navbar-nav > li > a{
    color:#eaeaea;
    font-size: 14px;
    font-family: "OpenSans Regular";
}
header .navbar-default .navbar-nav > li > a:hover{
    color:#fff;
}
.header-friends{
    margin-left: 30px;
}
header .navbar-default .header-friends > a{
    padding-right: 9px;
}
.header-friends a:before{
    content: '';
    position: absolute;
    height: 23px;
    width: 1px;
    background-color: #5c759f;
    left: -10px;
    top: 26px;
}
.header-friends:after{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ecf0f3;
    right: 11px;
    z-index: 2;
    bottom: 0;
}
.notification.open-link-menu:after,
.music-player.open-link-menu:after{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fbfbfb;
    right: 11px;
    z-index: 9999999;
    bottom: 9px;
}
.active-right-side .header-friends img,
.active-logout-icon,
.wallet-widget > a:hover > img,
.notification a:hover img,
.music-player > a:hover > img,
.header-friends a:hover img,
.active-img-friend,
.active-music-icon,
.active-notification-icon,
.notification.open-link-menu > a img,
.wallet-widget.open-link-menu > a img{
    display: none;
}
.active-right-side .header-friends img.active-img-friend,
.wallet-widget > a:hover > img.active-logout-icon,
.notification a:hover .active-notification-icon,
.music-player > a:hover > img.active-music-icon,
.header-friends a:hover img.active-img-friend,
.notification.open-link-menu > a img.active-notification-icon,
.wallet-widget.open-link-menu > a img.active-logout-icon{
    display: inline-block;
}
.profile-header .dropdown-toggle{
    padding: 0;
}
.profile-header .dropdown-toggle span{
    height: 100%;
    width: 70px;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-position: top center;
}
.profile-header{
    margin-right: 6px;
}
.profile-header .dropdown-menu{
    border-radius: 0;
    border: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 115%;
    box-shadow: 0 1px 45px rgba(0, 0, 0, .275);
    -webkit-box-shadow: 0 1px 45px rgba(0, 0, 0, .275);
    padding: 17px;
    min-width: 310px;
}
.profile-header .dropdown-menu:before{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left:50%;
    margin-left: -10px;
    z-index: 2;
    top: -10px;
}
.dropdown-link-menu.open-link-menu .dropdown-open{
    display: block;
}
.profile-header li > a{
    position: relative;
    padding-left: 32px;
}
.profile-header li > a:hover{
    background-color: transparent !important;
}
.profile-header .dropdown-menu .name-user-header{
    color:#335287;
    font-size: 16px;
    font-family: "OpenSans Semibold";
    padding-right: 42px;
    max-width: 276px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profile-header .dropdown-menu .email-user-header{
    font-size: 12px;
    color:#868c90;
    font-family: "OpenSans Regular";
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    padding-right: 42px;
    max-width: 276px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profile-header .dropdown-menu .e-token-prof-head{
    font-size: 14px;
    font-family: "OpenSans Regular";
    color:#868c90;
    margin-top: 12px;
}
.profile-header .dropdown-menu .e-token-prof-head > span{
    font-family: "OpenSans Bold";
    color:#335287;
}
.profile-header .dropdown-menu .e-token-prof-head > span:last-child{
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    background-color: #2195ed;
    text-align: center;
    line-height: 0.8;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.profile-header .dropdown-menu .e-token-prof-head > span:last-child:hover{
    background-color: #335287;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.profile-header .dropdown-menu .e-token-prof-head > span:last-child img{
    width: 9px;
}
.profile-header li > a > img{
    position: absolute;
    left: 0;
    top: 6px;
}
.profile-header li > a > img.valid-email-prof{
    left: 9px;
    top: 10px;

}
.logout-prof-header{
    position: absolute !important;
    border-left:1px solid #e1e1e1;
    right: 0;
    top: 24px;
}
.profile-header .dropdown-menu .logout-prof-header > a{
    padding-left: 15px;
}
#RO_Kiev{
    position: absolute;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}
.drop-music-player{
    position: fixed;
    width: 445px;
    background-color: #fff;
    right: 10px;
    z-index: 9999999;
    top: 60px;
    overflow: auto;
}
.widget-music .nav-tabs{
    border:0;
    padding:0 30px;
}
.widget-music .nav-tabs > li{
    width: 33.3333%;
}
.widget-music .nav-tabs > li > a{
    color: #969696;
    font-size: 14px;
    font-family: "OpenSans Regular";
    background-color: transparent !important;
    border: 0;
    border-bottom: 2px solid transparent;
    margin-right: 0;
    padding: 14px 10px 14px;
    text-align: center;
    top: -1px;
    position: relative;
}
.widget-music .nav-tabs > li.active > a:after,
.widget-music .nav-tabs > li > a:hover:after{
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2195ed;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.widget-music .nav-tabs > li.active > a,
.widget-music .nav-tabs > li.active > a:hover,
.widget-music .nav-tabs > li.active > a:focus,
.widget-music .nav-tabs > li > a:hover{
    color: #2195ed;
    border: 0;
    border-bottom: 2px solid #2195ed;
}
.wrap-radio-list{
    padding: 35px 35px 11px;
}
.wrap-own-radio-list{
    width: 160px;
    height: 90px;
    cursor: pointer;
    border: 1px solid #dddddd;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.wrap-own-radio-list img{
    max-height: 100%;
    margin: 0 auto;
}
.wrap-radio-list h5{
    color:#012955;
    font-size: 14px;
    font-family: "OpenSans Regular";
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 12px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.active-radio .wrap-own-radio-list,
.block-own-radio:hover .wrap-own-radio-list{
    border-color: #2195ed;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.active-radio h5,
.block-own-radio:hover h5{
    color:#2195ed;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.block-own-radio{
    margin-bottom: 30px;
}
#online-radio{
    position: relative;
}
.wrap-played-list{
    max-height: 584px;
    overflow: auto;
    padding-bottom: 45px;
}
.show-all-radio{
    position: absolute;
    left: 0;
    background-color: #2195ed;
    color:#fff;
    font-size: 13px;
    font-family: "OpenSans Bold";
    width: 100%;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    bottom: 0;
}
.show-all-radio:hover{
    background-color: #174c84;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.active-radio-img{
    width: 80px;
    height: 45px;
    border:1px solid #2195ed;
    background-color: #fff;
    display: inline-block;
    float: left;
}
.active-radio-img img{
    max-height: 100%;
    margin: 0 auto;
}
.block-played-radio h5{
    color: #2195ed;
    font-size: 14px;
    font-family: "OpenSans Regular";
    margin-bottom: 0;
    margin-top: 15px;
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.block-played-radio p{
    display: inline-block;
    color:#7e8081;
    font-size: 14px;
    font-family: "OpenSans Regular";
    margin: 0;
}
.nav-play-stop{
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.name-music-search{
    position:absolute;
    top:18px;
    left:0;
    right:0;
    padding-left:105px;
    padding-right:25px;
}
.name-music-search span{
    font-size: 13px;
    font-family: "OpenSans Regular";
    display: inline-block;
    vertical-align: top;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name-music-search span a{
    color:#174c85;
}
.name-music-search img{
    float: right;
    cursor: pointer;
}



.drop-notification{
    position: fixed;
    max-height: 760px;
    width: 470px;
    background-color: red;
    right: 10px;
    z-index: 9999999;
    top: 60px;
    overflow: auto;
    padding-bottom: 44px;
}
.dropdown-open{
    box-shadow: 0 6px 58px rgba(0, 0, 0, 0.575);
    display: none;
}
.header-notifi{
    padding: 10px 20px;
    color:#537192;
    font-size: 14px;
    font-family: "OpenSans Regular";
    border-bottom:1px solid #dfe7ee;
    background: #fbfbfb;
}
.header-notifi i{
    float: right;
    color:#2195ed;
    position: relative;
    top: 5px;
}
.wrap-own-notifi{
    border-bottom:1px solid #dfe7ee;
    background-color: #edf3fa;
    padding-left: 80px;
    position: relative;
    padding: 14px 35px 14px 80px;
}
.notifi-user{
    position: absolute;
    left: 10px;
}
.notifi-user span{
    width: 5px;
    height: 5px;
    background-color: #9a9a9a;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.photo-notifi-user{
    width: 45px;
    height: 45px;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    background-position: top center;
}
.wrap-own-notifi > p{
    margin-bottom: 0;
}
.wrap-own-notifi > p a{
    color:#537192;
    font-size: 13px;
    font-family: "OpenSans Regular";
}
.wrap-own-notifi > p a:first-child{
    color:#537192;
    font-size: 13px;
    font-family: "OpenSans Bold";
}
.wrap-own-notifi > p span{
    color:#9b9b9b;
    font-size: 13px;
}
.online-notifi span{
    background-color: #00d3ae;
}
.nav-notifi-friend{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.nav-notifi-friend div{
    color:#fff;
    margin-left: 12px;
    display: inline-block;
    font-size: 14px;
    font-family: "OpenSans Regular";
    background-color: #2195ed;
    padding:4px 11px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.nav-notifi-friend div:hover{
    background-color: #174c84;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.nav-notifi-friend div:last-child{
    background-color: #174c84;
}
.nav-notifi-friend div:last-child:hover{
    background-color: #2195ed;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.group-notifi{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
}
.group-notifi div{
    margin-left: 0;
    margin-right: 12px;
    margin-top: 15px;
}
.group-notifi div:last-child{
    background-color: #d0e0ee;
    color:#333;
}
.group-notifi div:last-child:hover{
    background-color: #b1c4d4;
}
.show-all-notifi{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2195ed;
    color:#fff;
    font-size: 14px;
    font-family: "OpenSans Regular";
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.show-all-notifi:hover{
    background-color: #174c84;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.dropdown-vidget{
    position: fixed;
    width: 100%;
    background-color: #fff;
    right: 77px;
    z-index: 9999999;
    top: 60px;
    overflow: auto;
    max-width: 300px;
    padding: 20px;
    display: none;
}
.wallet-widget.open-link-menu:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fbfbfb;
    right: 11px;
    z-index: 9999999;
    bottom: 9px;
}
.balance-token{
    color:#868c90;
    font-family: "OpenSans Regular";
    font-size: 14px;
    margin-bottom: 0;
}
.balance-token a{
    color:#2195ed;
    text-decoration: none;
}
.balance-token > span{
    color:#335287;
    float: right;
    font-family: "OpenSans Bold";
    font-size: 16px;
}
.balance-token > span span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #2195ed;
    color:#fff;
    text-align: center;
    position: relative;
    top: -2px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.balance-token > span span:hover{
    background-color: #335287;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.list-token{
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    width: 100%;
    display: block;
    border-top: 1px solid #e3e3e3;
    padding-top: 15px;
}
.list-token li{
}
.list-token li a{
    font-size: 12px;
    color:#232323;
    font-family: "OpenSans Regular";
    position: relative;
    text-decoration: none;
    padding: 6px 0 6px 42px;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.list-token li a:hover{
    color:#2195ed;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.list-token li a img{
    position: absolute;
    left: 0;
}
.list-token li a span{
    color:#2195ed;
}






.sidebar{
    position: fixed;
    left:0;
    top:70px;
    background-color: #ecf0f3;
    width: 225px;
    z-index: 1;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.toggled-left-side .sidebar{
    width: 73px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.toggled-hover-side .sidebar{
    width: 225px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar > ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    padding-top: 25px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.sidebar > ul > li{

}
.sidebar > ul > li > a{
    padding: 15px 0 15px 70px;
    display: block;
    width: 100%;
    text-decoration: none !important;
    position: relative;
    border-left: 3px solid transparent;
    font-family: "OpenSans Regular";
    height: 50px;
    font-size: 14px;
    outline: 0;
    white-space: nowrap;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.toggled-hover-side .sidebar > ul > li > a{
    overflow: visible !important;
}
.sidebar > ul > li > a:hover{
    color:#2296ed;

}
.sidebar > ul > li > a:before{
    content: '';
    position: absolute;
    bottom:-1px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: #cad8e6;
}
.sidebar > ul > li:last-child > a:before,
.sidebar > ul > li.active a:before,
.sidebar > ul > li a:hover:before{
    content: none;
}
.sidebar > ul > li.active a{
    background-color: #c9d8e6;
    border-left: 3px solid #54769a;
    font-family: "OpenSans Semibold";
    color: #537192;
}
.sidebar > ul > li a:hover{
    color:#537192;
    background-color: #c9d8e6;
    border-left: 3px solid #54769a;
}
.sidebar > ul > li.active a:after,
.sidebar > ul > li a:hover:after{
    content:'';
    position: absolute;
    border-top:23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 7px solid #c9d8e6;
    right: -7px;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar > ul > li > a img{
    position: absolute;
    left: 22px;
}
.sidebar > ul > li.active img,
.active-icon-side,
.sidebar > ul > li a:hover img{
    display: none;
}
.sidebar > ul > li.active .active-icon-side,
.sidebar > ul > li a:hover .active-icon-side{
    display: inline-block;
}
.toggled-left-side .sidebar > ul > li > a span:last-child{
    max-width: 1px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    opacity: 0;
}
.sidebar > ul > li > a span.count-block-side{
    position: absolute;
    background-color:#2195ed;
    color:#fff;
    border-radius: 4px;
    font-family: "OpenSans Regular";
    width: 24px;
    height: 18px;
    text-align: center;
    line-height: 1.3;
    left: 38px;
    top: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar > ul > li > a span:last-child,
.toggled-hover-side .sidebar > ul > li > a span:last-child,
.sidebar > ul > li > a span:last-child{
    display: inline-block;
    max-width: 300px;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 1;
}
.toggled-hover-side .sidebar > ul > li > a span:last-child{
    opacity: 1 !important;
    /*display: inline-block !important;*/
}
.setting-menu-side .modal-content{
    margin-top: 0;
}
.setting-menu-side .modal-dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0) !important;
    -webkit-transform: translate3d(-50%,-50%,0) !important;
    margin: 0;;
}
.setting-side-left a{
    background-color: transparent !important;
    border:0 !important;
    text-align: center;
    padding-left: 0 !important;
}
.setting-side-left a img{
    display: inline-block !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}
.setting-side-left a:after{
    content: none !important;
}
.setting-menu-side .modal-content{
    max-width: 535px;
    border-radius: 0;
}
.title-setting-side{
    background-color: #f7f7f7;
    font-size: 17px;
    color:#000;
    font-family: "OpenSans Regular";
    padding: 15px 34px;
}
.title-setting-side span{
    float: right;
    opacity: 1 !important;
}
.wrap-sett-menu{
    padding: 0 30px;
}
.own-setting-modal{
    position: relative;
    font-size: 13px;
    color:#5e7998;
    font-family: "OpenSans Regular";
    background-color: #fff;
    padding: 16px 0 16px 80px;
    border-bottom: 1px solid #eaedf3;
}
.own-setting-modal > i{
    position: absolute;
    left: 25px;
    top: 18px;
}
.wrap-btn-set-modal:after,
.wrap-btn-set-modal:before{
    content: '';
    display: table;
    clear: both;
}
.btn-set-modal{
    float: left;
    color:#fff;
    font-size: 13px;
    font-family: "OpenSans Regular";
    text-align: center;
    padding: 16px 0;
    width: 50%;
    background-color: #2296ed;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.btn-set-modal:hover{
    background-color: #196cab;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.dismiss-set-modal{
    background-color: #196cab;
}
.dismiss-set-modal:hover{
    background-color: #2296ed;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.wrap-checker-sett .jq-checkbox__div,
.wrap-checker-sett .jq-checkbox{
    width: 22px;
    height: 22px;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: #fff;
}
.wrap-checker-sett .jq-checkbox{
    border: 2px solid #afc0cf;
}
.wrap-checker-sett{
    position: absolute;
    right: 0;
    top: 15px;
}
.wrap-checker-sett .jq-checkbox.checked{
    border-color: #2296ed;
    background: #2296ed;
}
.wrap-checker-sett .jq-checkbox.checked .jq-checkbox__div{
    background-color: transparent;
    box-shadow: 0 0 0;
}
.wrap-checker-sett .jq-checkbox.checked .jq-checkbox__div:after{
    content:'';
    background-image: url('../images/check-modal-sett.png');
    -webkit-background-size: contain;
    background-size: contain;
    width: 13px;
    height: 9px;
    display:block;
    position:absolute;
    top:5px;
    left:3px;
}
.emoji{
    position: relative;
    top: -3px;
}







.wrap-friends-side{
    position: fixed;
    right:0px;
    top:70px;
    background-color: #fff;
    z-index: 3;
    border-left:1px solid #d5d8db;
    border-bottom: 1px solid #d5d8db;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 77px;
}
.active-right-side .wrap-friends-side,
.wrapper.toggled-hover-friend .wrap-friends-side{
    width: 295px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.friends-side{
    position: relative;
}
.header-status-friends{
    background-color:#ecf0f3;
    padding: 12px 20px;
    z-index: 1;
    width:295px;
}
.active-right-side .header-status-friends span{
    display: inline-block;
    visibility: visible;
}
.header-status-friends span{
    font-family: "OpenSans Semibold";
    font-size: 14px;
    color:#868c90;
    visibility: hidden;
}
.toggled-hover-friend .header-status-friends span{
    visibility: visible !important;
}
.header-status-friends span:last-child{
    float: right;
    font-family: "OpenSans Regular";
    font-size: 14px;
}
.online-friends-side .header-status-friends span:first-child{
    color:#109b90;
}
.online-friends-side{
    padding-bottom: 11px;
}
.wrap-own-friend{
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
    height: 215px;
    width: 309px;
}
.own-friends-side{
    padding-left: 75px;
    position: relative;
    margin-top: 11px;
    padding-right: 25px;
}
.wrap-photo-side{
    position: absolute;
    left: 11px;
}
.wrap-photo-side .dots-status-side{
    width: 5px;
    height: 5px;
    background-color: #9a9a9a;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.online-friends-side .wrap-photo-side .dots-status-side{
    background-color: #00d3ae;
}
.wrap-photo-side .own-photo-side{
    display: inline-block;
    width: 31px;
    height: 31px;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    background-position: top center;
}
.own-friends-side a{
    display: block;
    font-size: 14px;
    font-family: "OpenSans Regular";
    color:#4b75a5;
    padding: 6px 0;
    max-width: 135px;
    overflow: hidden;white-space: nowrap;
    text-overflow: ellipsis;
}
.wrap-send-mess-side{
    position: absolute;
    right:27px;
    top: 4px;
}
.wrap-send-mess-side > span:first-child{
    display: inline-block;
    margin-right: 10px;
    color:#b4b9bc;
    font-size: 12px;
    font-family: "OpenSans Regular";
}
.wrap-send-mess-side > span:last-child{
    position: relative;
    cursor: pointer;
}
.count-mess-side{
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -8px;
    text-align: center;
    border:2px solid #fff;
    border-radius: 50%;
    background-color: #f43e5c;
    color:#fff;
    font-size: 11px;
    font-family: "OpenSans Regular";
    width:19px;
    height: 19px;
    line-height: 1.4;
}
.offline-friends-side{
}
.offline-friends-side .wrap-own-friend{
    width: 309px;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 11px;
    height: 612px;
}





/* news page */
.content-main{
    padding-top: 70px;
    padding-left: 225px;
    padding-right: 77px;
    background-color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.content-main.news-content{
    padding-right: 317px;
}
.content-main.news-content.hidden-news-side{
    padding-right: 117px;

}
.toggled-left-side .content-main{
    padding-left: 73px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.active-right-side .content-main{
    padding-right: 295px;
}
.active-right-side .news-content{
    padding-right: 535px;
    transition: all 0.5s;
}
.active-right-side .content-main.hidden-news-side{
    padding-right: 335px;
}







.active-right-side .content-main.hidden-news-side{
    padding-right: 335px;
}
.wrap-what-new{
    padding: 13px;
}
.block-what-new{
    padding: 10px;
    position: relative;
    background-color: #ecf0f3;
    padding-left: 67px;
}
.photo-what-new{
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
}
.wrap-what-new .form-group{
    margin-bottom: 0;
}
.wrap-what-new .form-group textarea{
    height: 50px;
    padding: 13px 175px 13px 17px;
    font-size: 14px;
    resize: none;
    color:#4a4a4a;
    font-family: "OpenSans Regular";
    border-radius: 0;
    border:1px solid #dae1e8;
    box-shadow: 0 0 0 ;
}
.wrap-what-new .form-group textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4a4a4a;
}
.wrap-what-new .form-group textarea::-moz-placeholder { /* Firefox 19+ */
    color: #4a4a4a;
}
.wrap-what-new .form-group textarea:-ms-input-placeholder { /* IE 10+ */
    color: #4a4a4a;
}
.wrap-what-new .form-group textarea:-moz-placeholder { /* Firefox 18- */
    color: #4a4a4a;
}
.what-new-add{
    position: absolute;
    right: 25px;
    top: 25px;
    text-align: right;
}
.what-new-add  span{
    display: inline-block;
    margin-left: 12px;
    cursor: pointer;
}
.open-what-new .photo-what-new{
    display: none;
}
.block-what-new.open-what-new{
    padding-left: 10px;
    padding-bottom: 50px;
}
.block-what-new.open-what-new .form-group textarea{
    min-height: 82px;
}
.wrap-what-new .form-group textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9b9b9b;
}
.wrap-what-new .form-group textarea::-moz-placeholder { /* Firefox 19+ */
    color: #9b9b9b;
}
.wrap-what-new .form-group textarea:-ms-input-placeholder { /* IE 10+ */
    color: #9b9b9b;
}
.wrap-what-new .form-group textarea:-moz-placeholder { /* Firefox 18- */
    color: #9b9b9b;
}
.own-blocks-add{
    padding-left: 50px;
    position: relative;
    /*display: none;*/
    border: 1px solid #dae1e8;
    border-top: 0;
    background-color: #fff;
    min-height: 41px;
}
.smile-block-add{
    padding: 0;
}
.smiley-pics-content .tab-pane{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.smiley-list{
    border-bottom: 1px solid #dae1e8;
}
.smiley-post{
    margin-top: 5px;
    display: inline-block;
}
.smiley-list{
    padding-left: 22px;
}
.smiley-list li{
    margin-right: 40px;
    float: none;
    display: inline-block;
}
.smiley-list li a > i{
    color:#354052;
}
.smiley-list li a{
    background-color: transparent !important;
    border:0;
    border-radius: 0;
    padding: 10px 10px;
}
.smiley-list li.active a{
    border-bottom: 2px solid #2ea2f8;
}
.own-blocks-add > span{
    position: absolute;
    left: 10px;
    top: 10px;
    border-right: 1px solid #d7dfe7;
    padding-right: 5px;
    display: inline-block;
    min-width: 32px;
    text-align: center;
}
.own-blocks-add input{
    height: 40px;
    border-radius: 0;
    border:0;
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: "OpenSans Regular";
    box-shadow: 0 0 0 !important;
}
.own-blocks-add input[type="file"]{
    visibility: hidden;
}
.wrap-upload-what{
    display: inline-block;
    padding: 10px 0;
    position: relative;
}
.own-blocks-add img{
    max-width: 80px;
}
.block-what-new.open-what-new,
.wrap-post-new{
    padding: 25px 25px 55px 25px;
}
.open-what-new .what-new-add{
    left: 12px;
    right: auto;
    bottom: 14px;
    top: auto;
}
.block-what-new.open-what-new .button-post-new{
    display: inline-block;
}

.button-post-new{
    background-color: #2195ed;
    color:#fff;
    font-size: 14px;
    font-family: "OpenSans Regular";
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    right: 25px;
    bottom: 13px;
    display: none;
    border-color: #2195ed;
}
.button-post-new:hover{
    background-color: #174c84;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.block-user-post{
    padding-left: 65px;
    position: relative;
}
.photo-user-post{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
}
.block-user-post p{
    margin: 0;
    padding-top:8px;
}
.block-user-post p > a{
    color:#4b75a5;
    font-size: 14px;
    font-family: "OpenSans Bold";
}
.block-user-post span{
    color:#9b9b9b;
    font-size: 13px;
    font-family: "OpenSans Regular";
    display: block;
}
.block-user-post span img{
    display: inline-block;
    margin-right: 10px;
}
.block-user-post .dropdown{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
}
.block-user-post .dropdown button{
    border:0 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
    background-color: transparent !important;
}
.block-user-post .dropdown.open button img,
.block-user-post .dropdown button img{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.block-user-post .dropdown.open button img{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.block-user-post .dropdown .dropdown-menu{
    right: 0;
    left: auto;
    border-radius: 0;
    border-color: #e2e7ed;
    padding: 12px 0px;
    top: 125%;
}
.block-user-post .dropdown .dropdown-menu:after{
    content: '';
    position: absolute;
    right: 6px;
    z-index: 1;
    top: -8px;
    width: 14px;
    height: 14px;
    border: 1px solid #e2e7ed;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.block-user-post .dropdown .dropdown-menu:before{
    content: '';
    position: absolute;
    right: 4px;
    z-index: 2;
    top: -1px;
    width: 18px;
    height: 13px;
    background-color: #fff;
}
.block-user-post .dropdown li a{
    font-size: 14px;
    font-family: "OpenSans Regular";
    padding: 6px 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    position: relative;
    padding-left: 35px;
}
.block-user-post .dropdown li a i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #2296ed;
}
.block-user-post .dropdown li a:hover i{
    color:#fff;
}
.block-user-post .dropdown li a span{
    font-size: 12px;
}
.block-user-post .dropdown-menu > li > a:hover,
.block-user-post .dropdown-menu > li > a:focus{
    background-color: #335287;
    color:#fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.block-user-post .dropdown-menu > li > a:hover span,
.block-user-post .dropdown-menu > li > a:focus span{
    color:#fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.post-desc-block{
    padding: 15px 0 0 27px;
}
.content-desc-post{
    border:1px solid #dae1e8;
    padding: 20px 20px 27px;
    margin-bottom: 0px;
}
.wrap-owner-post{
    padding-left: 43px;
    position: relative;
    margin-bottom: 20px;
}
.photo-owner-post{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
}
.wrap-owner-post p{
    margin: 0;
}
.wrap-owner-post p > a{
    color:#4b75a5;
    font-size: 13px;
    font-family: "OpenSans Bold";
    line-height:1.2;
}
.wrap-owner-post span{
    color:#9b9b9b;
    font-size: 13px;
    font-family: "OpenSans Regular";
    display: inline-block;
    margin-right: 15px;
}
.content-desc-post > p{
    color:#4a4a4a;
    font-size: 14px;
    font-family: "OpenSans Regular";
    margin-bottom: 0;
}
.content-desc-post > img{
    margin-top: 10px;
    width: 100%;
}
.comment-like-share{
    display: inline-block;
    cursor: pointer;
    position: relative;
    /*margin-right: 30px;*/ /*afweb*/
    margin-right: 25px;
}
.comment-like-share:hover:before{
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2195ed;
}
.comment-like-share:hover:after{
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2195ed;
    bottom: -11px;
    left: 50%;
    margin-left: -5px;
}
.comment-like-share.active-comment:before{
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2195ed;
}
.comment-like-share.active-comment:after{
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2195ed;
    bottom: -11px;
    left: 50%;
    margin-left: -5px;
}
.active-share-link .count-commlikeshare i{
    color:#42decd;
}
.active-like-link .count-commlikeshare i{
    color:#fb7582;
}

.comment-like-share:hover .count-commlikeshare i,
.comment-like-share:hover .count-commlikeshare,
.comment-like-share:hover span,
.comment-like-share.active-comment .count-commlikeshare i,
.comment-like-share.active-comment span,
.comment-like-share.active-comment{
    color: #2296ed;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.wrap-comment-share{
    background-color: #f7f9fb;
    border: 1px solid #dae1e8;
    border-top: 0;
    padding: 12px 8px;
    padding-left: 20px;
}
.count-commlikeshare{
    display: inline-block;
    margin-right: 0px;
    background-color: #f7f8fa;
    font-family: "OpenSans Regular";
    font-size: 13px;
    color:#16579d;
    padding: 5px 11px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    padding-left: 0;
}
.count-commlikeshare i{
    color:#b9cee9;
    margin-right: 5px;
}
.count-commlikeshare:hover i{
    color:#fff;
}
.comment-like-share > span{
    font-size: 14px;
    font-family: "OpenSans Regular";
    color:#335287;
}
.block-what-comment{
    background-color: #f7f9fb;
    padding: 19px 0;
    padding-left: 67px;
    padding-right: 20px;
    position: relative;
}
.wrap-show-comment{
    border: 1px solid #dae1e8;
    border-top:0;
    background-color: #f7f9fb;
    position: relative;
    padding-bottom: 27px;
}
.wrap-show-comment .form-group{
    margin-bottom: 0;
    position: relative;
}
.wrap-show-comment .form-group textarea{
    height: 40px;
    font-size: 14px;
    padding: 10px 120px 11px 10px;
    resize: none;
    color: #4a4a4a;
    font-family: "OpenSans Regular";
    border-radius: 0;
    border: 1px solid #dae1e8;
    overflow: hidden;
    box-shadow: 0 0 0;
    display:block;
    box-sizing: border-box;
    overflow:hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.wrap-show-comment .photo-what-new{
    width: 34px;
    left: 20px;
    height: 34px;
    top: 18px;
}
.comment-new-add{
    top:7px;
    position: absolute;
    right: 25px;
    text-align: right;
}
.comment-new-add span {
    display: inline-block;
    margin-left: 12px;
    cursor: pointer;
}
.own-comment-block{
    position: relative;
    padding-left: 67px;
    padding-right: 20px;
    border-top: 1px solid #ecf0f3;
    padding-top: 14px;
    padding-bottom: 14px;
}
.photo-user-comment{
    position: absolute;
    width: 34px;
    left: 20px;
    height: 34px;
    top: 16px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
}
.comment-desc-block{
    position: relative;
    cursor: pointer;
}
.comment-desc-block h5{
    margin-top: 0;
    margin-bottom: 5px;
}
.comment-desc-block h5 > a{
    color:#4b75a5;
    font-size: 13px;
    font-family: "OpenSans Regular";
}
.comment-desc-block h5 > span{
    color:#9b9b9b;
    font-size: 13px;
    font-family: "OpenSans Regular";
    display: inline-block;
    margin-left: 5px;
}
.comment-desc-block > p{
    font-size: 13px;
    color:#4a4a4a;
    font-family: "OpenSans Regular";
}
.answer-comment{
    font-size: 13px;
    color:#9b9b9b;
    font-family: "OpenSans Regular";
    cursor: pointer;
}
.like-comment{
    position: absolute;
    top: 0;
    right: 0;
    color:#b9cee9;
    font-size: 13px;
    font-family: "OpenSans Regular";
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.like-comment i{
    font-size: 12px;
}
.like-comment:hover,
.liked-comment.like-comment{
    color:#335287;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.like-comment:hover i,
.liked-comment.like-comment i{
    color:#fb7582;
}
.complain-comment{
    position: absolute;
    top: -1px;
    right: 0px;
    color:#b9cee9;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.complain-comment:hover{
    color:#335287;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.complain-comment i{
    font-size: 12px;
}
.comment-desc-block:hover .complain-comment{
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.comment-desc-block:hover .like-comment{
    right: 30px;
}
.answer-comment-block .photo-user-comment{
    left: 0;
    width: 25px;
    height: 25px;
    top: 19px;
}
.answer-comment-block.own-comment-block{
    padding-left: 35px;
    border-top:0;
    padding-right: 0;
    padding-bottom: 0;
}
.answer-comment-block .comment-desc-block h5 > a,
.answer-comment-block .comment-desc-block h5 > span{
    font-size: 11px;
}
.comment-other-comment .photo-what-new{
    left: 0;
    width: 25px;
    height: 25px;
}
.comment-other-comment{
    padding-left: 35px;
    padding-bottom: 0;
    border-top: 1px solid #ecf0f3;
    margin-top: 10px;
}
.comment-other-comment .form-group textarea{
    height: 25px;
    padding: 3px 8px;
    font-size: 12px;
    padding-right: 120px;
}
.comment-other-comment .comment-new-add{
    top: 2px;
}
.comment-other-comment .own-blocks-add{
    min-height: 30px;
}
.comment-other-comment .own-blocks-add input{
    height: 30px;
}
.comment-other-comment .own-blocks-add img{
    max-width: 18px;
}
.comment-other-comment .own-blocks-add > span{
    top: 6px;
}
.show-next-comment{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color:#fff;
    background-color: #2296ed;
    text-align: center;
    padding: 4px 0;
    font-size: 13px;
    font-family: "OpenSans Bold";
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.show-next-comment:hover{
    background-color: #174c84;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.complain-comment button{
    border: 0 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
    background-color: transparent !important;
    padding: 0;
}
.complain-comment button img{
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.complain-comment .open button img{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.complain-comment .open .dropdown-menu{
    right: 0;
    left: auto;
}
.complain-comment .open .dropdown-menu a{
    position: relative;
    padding-left: 35px;
    font-size: 13px;
    font-family: "OpenSans Regular";
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.complain-comment .open .dropdown-menu a i{
    position: absolute;
    left: 12px;
    top: 8px;
    color:#2296ed;
}
.complain-comment .open .dropdown-menu a:hover i,
.complain-comment .open .dropdown-menu a:hover{
    color:#fff;
}
.complain-comment .open .dropdown-menu a:hover{
    background-color: #335287;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}








.active-right-side .news-categories{
    width: 240px;
    position: fixed;
    min-height: 400px;
    right: 295px;
    padding: 13px 0 13px 18px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hidden-news-side .news-categories{
    width: 40px;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.news-categories{
    width: 240px;
    position: fixed;
    min-height: 400px;
    right: 77px;
    padding: 13px 0 13px 18px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hidden-news-side .title-news-side{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hidden-news-side .title-news-side span{
    max-width: 1px;
    height: 0;
    opacity: 0;
    display: inline-block;
}
.title-news-side{
    width: 212px;
    background-color: #2195ed;
    color:#fff;
    font-size: 14px;
    font-family: "OpenSans Regular";
    padding:5px 12px 5px 25px;
    float: right;
    position: relative;
    white-space: nowrap;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.title-news-side:before{
    content: '';
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:8px solid #2195ed;
    left: -8px;
    top: 0;
    bottom: 0;
}
.title-news-side i{
    float: right;
    cursor: pointer;
    line-height: 1.1;
}
.news-categories > ul{
    list-style-type: none;
    padding-left: 25px;
    margin-top: 10px;
}
.news-categories > ul > li{
    margin-bottom: 3px;
}
.news-categories > ul > li a{
    border-left:3px solid transparent;
    font-size: 13px;
    position: relative;
    font-family: "OpenSans Regular";
    padding:1px 0 1px 42px;
    text-decoration: none;
    color:#174c85;
    max-width:175px;
    overflow:hidden;
    display:block;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.list-news-cat .active-list-cat a,
.news-categories > ul > li a:hover{
    border-left:3px solid #2195ed;
    color:#2195ed;
}
.news-categories > ul > li a i{
    position: absolute;
    left: 18px;
    top: 3px;
    color:#b9cee9;
}
.news-categories > ul > li.active-list-cat a i,
.news-categories > ul > li a:hover i{
    color:#2195ed;
}
.news-categories .wrap-more-news-cat{
    padding-right: 22px;
    padding-left: 45px;
}
.news-categories .wrap-more-news-cat a{
    font-size: 13px;
    position: relative;
    color:#4b75a5;
    font-family: "OpenSans Regular";
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #aedff1;
    text-decoration: none;
    padding-left: 30px;
}
.wrap-more-interes-path a{
    font-size: 13px;
    position: relative;
    font-family: "OpenSans Regular";
    display: block;
    margin-top: 10px;
    color:#174c85;
}
.wrap-more-interes-path{
    padding-left: 45px;
}
.update-comment{
    padding-left: 30px;
}
.update-comment a{
    font-size: 14px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 3px;
    font-family: "OpenSans Regular";
    display: block;
    color:#174c85;
}







/* page prof other user */
.block-fon-user{
    min-height: 290px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.other-user-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 30px;
    padding-left: 260px;
}
.other-user-bottom:after,
.other-user-bottom:before{
    content: '';
    display: table;
    clear: both;
}
.own-photo-other{
    width: 200px;
    height: 215px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 30px;
}
.wrap-name-action-other{
    padding-bottom: 15px;
    padding-right: 200px;
}
.wrap-name-action-other h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 29px;
    color:#f3f6fb;
    font-family: "OpenSans Regular";
}
.wrap-name-action-other .status-other{
    font-size: 14px;
    color:#e4e4e4;
    font-family: "OpenSans Regular";
    margin-bottom: 16px;
}
.wrap-nav-other button{
    display: inline-block;
    margin-right: 22px;
    background-color: #2296ed;
    color:#fff;
    border-radius: 0;
    border:0;
    box-shadow: 0 0 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    padding: 7px 20px;
}
.wrap-nav-other button:hover{
    background-color: #335287;
    color:#fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.in-net{
    position: absolute;
    right: 30px;
    bottom: 67px;
    color:#fff;
    font-size: 14px;
    font-family: "OpenSans Regular";
}
.in-net span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #9a9a9a;
}
.wrap-tab-other{
    padding: 22px 30px;
}
.wrap-tab-other .nav-tabs > li{
    margin-bottom: 0;
}
.wrap-tab-other .nav-tabs > li > a{
    color:#5c81a9;
    font-size: 14px;
    font-family: "OpenSans Regular";
    background-color: transparent !important;
    border:0;
    border-bottom:2px solid transparent;
    margin-right:0;
    padding:8px 38px 14px;
    top:1px;
}
.wrap-tab-other .nav-tabs > li > a:before{
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 25px;
    background-color: #dae1e8;
    top: 4px;
}
.wrap-tab-other .nav-tabs > li.active > a,
.wrap-tab-other .nav-tabs > li.active > a:hover,
.wrap-tab-other .nav-tabs > li.active > a:focus,
.wrap-tab-other .nav-tabs > li > a:hover{
    color:#325579;
    border:0;
    border-bottom: 2px solid #2195ed;
}
.wrap-tab-other .nav-tabs > li.active > a:after,
.wrap-tab-other .nav-tabs > li > a:hover:after{
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2195ed;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.wrap-tab-other .nav-tabs{
    border-bottom: 1px solid #dae1e8;
}
.wrap-post-new.post-other{
    padding: 0;
    padding-bottom: 48px;
}
.wrap-tab-other .tab-content{
    padding-top: 45px;
}
.other-about h5{
    color:#335287;
    font-size: 15px;
    font-family: "OpenSans Regular";
    margin-top: 0;
    margin-bottom: 15px;
}
.other-about{
    border: 1px solid #dae1e8;
    padding: 15px;
}
.other-about h5 img{
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.other-about a{
    font-size: 13px;
    color:#335287;
    font-family: "OpenSans Regular";
}
.other-about a.desc-about{
    display: block;
}
.block-hobby-interes{
    margin-top: 20px;
}
.block-hobby-interes span{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    color:#848484;
    font-family: "OpenSans Regular";
    display: inline-block;
}
.block-hobby-interes{
    padding-left: 100px;
    position: relative;
}
.block-city-study{
    border-top:1px solid #dae1e8;
    margin-top: 15px;
}
.block-city-study a{
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
    display: block;
}
.block-city-study a img{
    position: absolute;
    left: 0;
    top: 3px;
}
.other-photo{
    border: 1px solid #dae1e8;
    padding: 15px;
    margin-top: 22px;
}
.other-photo h5,
.other-friend h5,
.other-interes-page h5,
.other-events h5{
    margin-top: 0;
}
.other-photo h5 a,
.other-friend h5 a,
.other-interes-page h5 a,
.other-events h5 a{
    font-size: 15px;
    color:#335287;
    font-family: "OpenSans Regular";
    position: relative;
    display: block;
    text-decoration: none;
}
.other-photo h5 img,
.other-friend h5 img,
.other-interes-page h5 img,
.other-events h5 img{
    margin-right: 10px;
    position: relative;
    top: -1px;
}
.other-photo h5 a span,
.other-friend h5 a span{
    color:#4c4c4c;
    font-size: 13px;
    font-family: "OpenSans Light";
    float: right;
}
.other-photo .row,
.other-friend .row,
.other-interes-page .row{
    margin: 0 -5px;
}
.other-photo .row > div,
.other-friend .row > div,
.other-interes-page .row > div{
    padding: 0 5px;
}
.album-photo-other{
    height: 100px;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 10px;
    position: relative;
}
.album-photo-other a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.other-friend .album-photo-other{
    height: 80px;
}
.other-friend,
.other-interes-page,
.other-events{
    border: 1px solid #dae1e8;
    padding: 15px;
    margin-top: 22px;
    background-color: #fafafa;
}
.other-friend h5 img{
    top: -2px;
}
.album-photo-other + a{
    color:#335287;
    font-size: 13px;
    font-family: "OpenSans Light";
    display: block;
    text-align:center;
    margin-top:5px;
}
.other-events h5 img{
    top: -3px;
}
.own-other-event{
    padding-left: 50px;
    position: relative;
    padding-top: 10px;
}
.own-other-event > div{
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    top: 10px;
}
.own-other-event a{
    display: block;
    padding: 8px 0;
}


/* tooltip styling */
.tooltip-inner {
    background-color: #294370;
    border-radius: 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #294370;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #294370;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #294370;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #294370;
}


@media(max-height: 900px){
    .sidebar > ul > li > a{
        padding: 10px 0 10px 70px;
        height: 40px;
    }
    .sidebar > ul > li.active a:after,
    .sidebar > ul > li a:hover:after {
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 7px solid #c9d8e6;
        right: -7px;
        top: 0;
        bottom: 0;
    }
    .sidebar > ul > li > a span.count-block-side{
        top: 14px;
    }
    .sidebar > ul > li > a img{
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .sidebar > ul{
        padding-top: 15px;
    }
}
@media(max-height: 740px){
    .sidebar > ul > li > a{
        padding: 7px 0 7px 70px;
        height: 33px;
        font-size: 13px;
    }
    .sidebar > ul > li > a img{
        width: 18px;
    }
    .sidebar > ul > li > a span.count-block-side{
        top: 12px;
        width: 22px;
        height: 16px;
        font-size: 11px;
        line-height: 1.4;
        left: 35px;
    }
    .sidebar > ul > li.active a:after,
    .sidebar > ul > li a:hover:after {
        content: '';
        position: absolute;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 7px solid #c9d8e6;
        right: -7px;
        top: 0;
        bottom: 0;
    }
    .sidebar > ul{
        overflow: auto;
        overflow-x: hidden;
    }
}
@media(max-height: 640px){
    .sidebar > ul{
        width: 241px;
    }
    .sidebar{
        overflow: hidden;
    }
}





@media(max-width: 1399px){
    .sidebar{
        width: 73px;
    }
    .wrapper .content-main{
        padding-left: 73px;
        padding-right: 77px;
    }
    .content-main.news-content{
        padding-right: 317px;
    }
    .wrapper .wrap-friends-side{
        width: 77px;
    }
    .wrapper .content-main .news-categories{
        right: 77px;
    }
    .friends-side .header-status-friends span{
        visibility: hidden;
    }
    .wrapper .sidebar > ul > li > a span:last-child{
        max-width: 0;
        opacity: 0;
        max-height: 0;
    }
    .sidebar > ul > li > a{
        overflow: hidden;
    }
}
@media(max-width: 1199px){
    header .navbar-default .nav-center-link{
        transform: none;
        position: relative;
        left: 0;
        float: right;;
    }
    .sidebar{
        width: 73px;
    }
    /*.sidebar > ul > li > a{
        padding: 10px 0 10px 70px;
        height: 40px;
    }
    .sidebar > ul > li.active a:after,
    .sidebar > ul > li a:hover:after {
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 7px solid #c9d8e6;
        right: -7px;
        top: 0;
        bottom: 0;
    }*/
}
@media(max-width: 1099px){
    .news-categories{
        display: none;
    }
    .content-main.news-content{
        padding-right: 77px;
    }
    header .navbar-form{
        margin-left: 15px;
    }

}
@media(max-width: 800px){
    .wrap-post-new{
        padding-bottom: 10px;
    }
}






@media(min-width: 992px){
    .absolute-other-cat > .col-lg-3{
        position: absolute;
        top: 0;
        left: 0;
        width: 323.5px;
        padding-bottom: 22px;
    }
    .absolute-other-cat{
        position: relative;
        padding-left: 323.5px;
    }
}

/*afweb*/
.navbar-default .navbar-brand {
    padding: 0;
}

/*
.container-fluid {
    padding: 0;
    margin: 0;
}
*/

.notification-list > li {
    padding: 0;
}

.notification-list > li:last-child {
    padding-right: 0;
}



/*---------------------------------------------*/
.list-token li a {
    color: #232323;
    display: block;
    font-family: "OpenSans Regular";
    font-size: 12px;
    padding: 6px 0 6px 42px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.list-token {
    list-style-type: none;
}

/*переопредедлил из основного стиля из-за z-index нужно было сделать 8 вместо 9*/
.chat-list {
    position: fixed;
    top: 60px;
    right: 0px;
    height: 100%;
    background-color: #fafbfc;
    border-left: 1px solid #E6EAEE;
    z-index: 8;
}

/*переопредедлил из основного стиля из-за того что красный кружочек с цифрами на новой верстке вверх улетел нунжо было опустить*/
.notification-list > li > a .count {
    width: 18px;
    height: 18px;
    background: #E76877;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: 16px;
    line-height: 18px;
    right: 3px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.17px;
}

/*нужно было переопределить чтобы по нажатию кнопки иконок friend-sidebar заезжал вправо*/
.chat-list-mini {
    right: -190px !important;
}

/*нужно было переопределить из основного стиля,
сделано для того чтобы знаки припенания были в кноце стороки в чате*/
.chat-box .chat-conversation .message-conversation.current-user .media .media-body .post-text {
    text-align: left;
    padding-left: 15px;
    margin-right: 4px;
    padding-right: 4px;
    direction: ltr;
}

/*переопределил из основного слоя, чтобы в чате аватарки были квадратные*/
.chat-box .chat-conversation .message-conversation .media .media-left img {
    width: 28px;
    height: 28px;
    border-radius: 0px;
}